.prototypes-top-left-corner {
  position: absolute;
  top: calc(5vh + 3 * 100vh);
  left: 0;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #424344;
  color: #ffffff;
  font-size: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.prototypes-bottom-right-corner {
  position: absolute;
  bottom: calc(5vh - 3 * 100vh);
  right: 0;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #95bae0;
  color: #000000;
  font-size: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.prototypes-bottom-right-corner:hover {
  padding-right: 3rem;
  background-color: #267bd1;
  color: #ffffff;
}

.prototypes-radio-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 5vh;
  font-size: 1rem;
}

.prototypes-image {
  object-fit: contain;
  height: 67vh;
  width: 80vw;
}

.bottom-right {
  cursor: pointer;
  z-index: 99;
}